.ce-block__content,
.ce-toolbar__content {
	max-width: 1200px;
}


.codex-editor__redactor{
	padding-bottom: 100px !important;
}


@media (min-width: 651px){
.codex-editor--narrow .ce-toolbox .ce-popover{ 
    left: 0 !important;
    left: auto;
    left: initial;
}
}

@media (min-width: 651px){
.codex-editor--narrow .ce-settings .ce-popover {
    left: 0 !important;
    left: auto;
    left: initial;
}
}

@media (min-width: 651px){
.codex-editor--narrow .codex-editor__redactor {
    margin-left: 80px;
	margin-right: 0%;
}
}

@media (min-width: 651px){
.codex-editor--narrow .ce-toolbar__actions {
    left: -5px;
	right: inherit;
}
}
